<div id="game">


  <% if @showing_modal %>
    <p class="well-small">
      <strong>Play again?</strong>
      <a href="/betting_page" class="btn btn-primary">Yes</a>
      <a href="/game_over" class="btn btn-danger"> No</a>
    </p>
  <% end %>

  <h1>Casino "Caballo azul"</h1>

  <h3>Welcome <%= session[:player_name] %></h3>

  <ul class="well">
    <h4>Dealer's cards</h4>

    <% session[:dealer_cards].each_with_index do |card, i| %>
      <% if session[:turn] != 'dealer' && i == 0 %>
        <li class="showing_cards"><img src="/images/cards/cover.jpg" alt="cover_card"/></li>

      <% else %>
        <li class="showing_cards alert-danger"> <%= making_image_element(card) %> </li>
      <% end %>
    <% end %>
  </ul>

  <% if (@dealer_btn) %>
    <div class="alert-info">
      <h4>Dealer has <%= calculating_the_total session[:dealer_cards] %> and will hit</h4>
    </div>
    <form action="/game/dealer/next_card" method="post">
      <input id="next_card" class="btn btn-primary" type="submit" value="Click to see dealer's next card"/>
    </form>
  <% end %>





  <ul class="well">
    <h4>Player's cards</H4>
    <% session[:player_cards].each do |card| %>

      <li class="showing_cards alert-danger"> <%= making_image_element(card) %> </li>
    <% end %>
    <div class="clearfix"></div>
    <h5>
      <%= session[:player_name] %> has $<%= session[:player_pot] %> and bet $<%= session[:betting_amount] %> for this
      round.
    </h5>
  </ul>


  <% if (@main_btn_visible) %>
    <div class="alert-info" id="blue-light">
      <h4><%= session[:player_name] %> has <%= calculating_the_total session[:player_cards] %></h4>

      <p>What would u like to do? </p>

    </div>
    <div class="main-btns buttons well-small">

      <form action="/game/player/hit" method="post">
        <input id="hit_me" class="btn btn-success btn-large" type="submit" value="hit"/>
      </form>

      <form action="/game/player/stay" method="post">
        <input id="stay_me" class="btn btn-warning btn-large " type="submit" value="stay"/>
      </form>

    </div>
  <% end %>

</div>