<h1>Casino "El peligro"</h1>


<h3>Welcome <%= session[:player_name] %></h3>


<ul class="well">
  <h4>Dealer's cards</h4>

  <% session[:dealer_cards].each do |card| %>

   <li class="showing_cards alert-danger"> <%= making_image_element(card) %> </li>

  <% end %>
</ul>

  <% if( @dealer_btn ) %>
    <div class="alert-info">
      <h4>Dealer has <%=calculating_the_total session[:dealer_cards] %> and will hit</h4>
    </div>
    <form action="/game/dealer/next_card" method="post">
      <input class="btn btn-primary" type="submit" value="Click to see dealer's next card"/>
    </form>
  <% end %>





<ul class="well">
  <h4>Player's cards</H4>
  <% session[:player_cards].each do |card| %>

  <li class="showing_cards alert-danger"> <%= making_image_element(card) %> </li>
  <% end %>

</ul>


<% if (@main_btn_visible) %>
  <div class="alert-info">
    <h4><%= session[:player_name] %> has <%= calculating_the_total session[:player_cards] %></h4>

    <p>What would u like to do? </p>

  </div>
  <div class="buttons well-small">

    <form action="/game/player/hit" method="post">
      <input class="btn btn-success" type="submit" value="hit"/>
    </form>

    <form action="/game/player/stay" method="post">
      <input class="btn btn-warning " type="submit" value="stay"/>
    </form>

  </div>


<% end %>
