<h1>This is Blackjack!!</h1>


<h3>Welcome <%= session[:player_name] %></h3>


<ul class="well">
  <h4>Dealer's cards</h4>

  <% dealer_cards.each do |card| %>

   <li class="alert-danger"> <%= card.to_s %> </li>

  <% end %>
</ul>



<ul class="well">
  <h4>Player's cards</H4>
  <% @player_cards.each do |card| %>

  <li> <%= card.to_s %>  </li>
  <% end %>

</ul>

<div class="alert-info">
  <h4><%= @player_name %> has <%=calculating_the_total (@player_cards) %></h4>
  <p>What would u like to do? </p>

</div>

<div class="buttons well-small">

  <form action="/game/player/hit" method="post">
    <input class="btn btn-success" type="submit" value="hit"/>
  </form>

  <form action="/game/player/stay" method="post">
    <input class="btn btn-warning " type="submit" value="stay"/>
  </form>




</div>


